<section class="card shadow-sm  border border-gray-700">
  <div class="card-body">
    <h6 class="card-title flex items-center flex-row">
      <img ngSrc="assets/webhook.svg" alt="Webhook" height="30" width="30"/>
      Webhooks
    </h6>
    <div class="flex flex-col w-full pt-3 gap-2">
      @for (webhook of form.controls.webhooks.controls; track $index) {
        <div class="flex flex-row gap-2">
          <label class="input input-bordered input-md flex items-center flex-1 ">
            https://
            <div class="divider divider-horizontal !mx-0"></div>
            <input
              [formControl]="webhook.controls.webhook"
              type="text"
              placeholder="example.com/webhook" class="grow"/>
          </label>
          <button (click)="deleteWebhook($index)" class="btn btn-square">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
          <button class="btn btn-primary btn-square" (click)="testWebhook($index)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.288 15.038a5.25 5.25 0 0 1 7.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 0 1 1.06 0Z" />
            </svg>
          </button>
        </div>
      }
      <button class="btn btn-primary mt-3" (click)="addWebhook()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Add webhook
      </button>
    </div>
  </div>
</section>
